.thumbnail-details {
    width: 95vmin;
    height: 50vmin;
    margin: 0 auto 0.75rem auto;
    display: block;
    border-radius: 0.5rem;
}

.thumbnail-details-image {
    vertical-align: middle;
    border: 0;
    text-align: center;
}