<div id="root">
    <div class="section" style="background-color: white;"><img class="login-banner" src="https://aspiredigital.cn/cartier/images/phone-banner.jpg" alt="" style="width: 100%;">
        <div style="width: 90%; margin-top: 10%;">
            <div class="information">

                <input placeholder="请输入" type="tel" value="">

            </div>
            <div style="width: 100%; font-size: 18px; height: 30px; border-radius: 5px; padding-top: 12px; margin-top: 30px; color: white; background-color: rgb(51, 122, 183);" (click)="verifyCustomer()">验证手机</div>
        </div>
    </div>
</div>